.container {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.container h2 {
    
    margin-bottom: 1rem;
}

.container form {
    width: 100%;
    max-width: 90%;
    background-color: #333333;
    border-radius: 20px;
    padding: 36px 64px;
}

.container div {
    margin-bottom: 1rem;
}

.container input, .container select {
    background-color: #FFF;
    width: 100%;
    padding: 15px 10px;
    margin: 0.5rem 0 0.5rem;
    border: 0;
    outline: none;
    border-radius: 5px;
    font-size: 1.125rem;
}

.container button {
    border: 1px solid #691010;
    height: 5rem;
    width: 10rem;
    border-radius: 15px;
    color: white;
    background: #b71c1c;
    font-size: large;
    font-weight: 700;
}

.container button:hover {
    background-color: #f44336;
}

.erro {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
}

.erro span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #691010;
    height: 4rem;
    width: 15rem;
    border-radius: 10px;
    color: white;
    background: red;
    font-size: large;
    font-weight: 700;
}