.banner {
    min-width: 100vh;
    height: 347px;
    /* background-image: url("/public/Images/banner-home.png");*/    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 68px;

}